[submodule "independent/vim/bundle/vim-rails"]
	path = independent/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "independent/vim/bundle/vim-rvm"]
	path = independent/vim/bundle/vim-rvm
	url = git://github.com/tpope/vim-rvm.git
[submodule "independent/vim/bundle/vim-ps1"]
	path = independent/vim/bundle/vim-ps1
	url = git://github.com/PProvost/vim-ps1.git
[submodule "powershell/Modules/posh-git"]
	path = powershell/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/Modules/posh-svn"]
	path = powershell/Modules/posh-svn
	url = https://github.com/anrichter/posh-svn.git
